*.pyc
.idea
build
.classpath
.project
.settings
.DS_Store

scripts/data/model_query_lambdas_10reps_collection.pkl
scripts/data/model_query_uniform_lambdas_v1_collection.pkl
scripts/data/model_query_softmax_lambdas_v1_collection.pkl
scripts/data/model_query_uniform_lambdas_v2_collection.pkl
scripts/data/model_query_softmax_lambdas_v2_collection.pkl
scripts/data/model_query_uniform_lambdas_v3_collection.pkl
scripts/data/model_query_softmax_lambdas_v3_collection.pkl
scripts/data/model_query_softmax_lambdas_v1_collection_cutoff2.pkl
scripts/data/model_query_softmax_lambdas_v2_collection_cutoff2.pkl
scripts/data/model_query_uniform_lambdas_v1_collection_cutoff2.pkl
scripts/data/model_query_uniform_lambdas_v2_collection_cutoff2.pkl

scripts/.ipynb_checkpoints/

scripts/samplers/samplers_inner.so
